NODE_ENV=development
PORT=4010

MONGODB_URI="mongodb://127.0.0.1:27017/finance_emission_api"

AUTH_MODE=jwt

NXSTART_JWT_SECRET=supersecret
NXSTART_CONTEXT_HEADER=x-auth-context

LOG_LEVEL=info

FINANCE_PROJECT_COLLECTION=finance_projects
FINANCE_RAW_LOG_COLLECTION=finance_raw_logs
FINANCE_DATA_QUALITY_COLLECTION=data_quality_scores
FINANCE_CITY_COLLECTION=cities
FINANCE_EUI_COLLECTION=eui_datas
FINANCE_USER_COLLECTION=users

TRUST_PROXY=false

NXSTART_REGISTER_URL="https://dev.nxstart.evercomm.io/api/v1/auth/register"
NXSTART_LOGIN_URL="https://dev.nxstart.evercomm.io/api/v1/auth/login"
NXSTART_ME_URL="https://dev.nxstart.evercomm.io/api/v1/users/me"
NXSTART_LOGOUT_URL="https://dev.nxstart.evercomm.io/api/v1/auth/logout"

SESSION_SECRET="qU9mbmfS5pfHt/m4nQ/TpPhJVKGJYASfM0tptbYo7Pc3i7MujTZoMx9uCIgV10wH9/MjH4TS+zqa30XW2X9ldw=="
SESSION_TTL_SECONDS=7200  # 2 hrs
SESSION_COOKIE_NAME=fe_sid
SESSION_COOKIE_SECURE=false
